<div class="row">
  <div class="span10"><h1>Skyline algorithms</h1></div>
  <div class="span2">

	    <div class="btn-group">
          <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Data <span class="caret"></span></button>
	      <ul class="dropdown-menu">
	        <li><%= link_to "Delete All", skyline_data_destroy_all_path %></li>
	        <!--li><a href="#">Another action</a></li-->	        
	        <li class="divider"></li>
	        <li><%= link_to "Gen Normal 1k", skyline_gen_normal_data_path+"?ntuple=1000" %></li>
	        <li><%= link_to "Gen Normal 10k", skyline_gen_normal_data_path+"?ntuple=10000" %></li>
	        <li><%= link_to "Gen Normal 100k", skyline_gen_normal_data_path+"?ntuple=100000" %></li>
	        
	        <li class="divider"></li>
	        <li><%= link_to "Gen Uniform 1k", skyline_gen_uniform_data_path+"?ntuple=1000" %></li>
	        <li><%= link_to "Gen Uniform 10k", skyline_gen_uniform_data_path+"?ntuple=10000" %></li>
	        <li><%= link_to "Gen Uniform 100k", skyline_gen_uniform_data_path+"?ntuple=100000" %></li>
	      </ul>
		</div>
		
  </div>
</div>

<ul class="nav nav-list">  
  <li>
	<%= link_to "Full Header", skyline_full_header_path %>
  </li>
  <li>
	<a>Null values</a>
  </li>
</ul>

